<h2>Brewreies list</h2>
<div ng-controller="BreweryController">
	<table>
		<thead>
			<th><a ng-click="sortBy='name'">Name</a></th>
			<th><a ng-click="sortBy='year'">Year</a></th>
			<th><a ng-click="sortBy='nrBeers'">Nr of Beers</a></th>
		</thead>
		<tbody >
			<tr ng-repeat="brewery in breweries | orderBy: sortBy">
				<td>{{brewery.name}}</td>
				<td>{{brewery.year}}</td>
				<td>{{brewery.nrBeers}}</td>
			</tr>
		</tbody>
	</table>
</div>
